.error {
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      h2 {
        color: red;
        font-size: 64px;
      }
      p {
        font-size: 24px;
      }
    }
  }